body
{
	background-color: #333;
}

a
{
	color: white;
}

.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}

#container
{
    /*min-width: 1024px;*/
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 95%;
}

#canvasContainer
{
	position: relative;
    margin-left: 20%;
    height: 100%;
    width: 80%; // Remaining % from #leftBar width
}


#mainCanvas
{
    /*height: 100%;
    width: 100%;*/
	position: absolute;
	top: 0px;
	left: 0px;
    /*border:1px solid ORANGE*/
}

#bgCanvas
{
    /*height: 100%;
    width: 100%;*/
	position: absolute;
	top: 0px;
	left: 0px;
    /*border:1px solid RED*/
}

#rightBar
{
    width: 100%;
    height: 100%;
}

#leftBar
{
	position: relative;
	float: left;
	color: white;
	width: 20%;
	height: 100%;
	text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#leftBar > div
{
    flex-grow: 1;
}

#contact
{
	color: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-align: center;
	margin-top: 25%;
}

#reset
{
    height: 100px;
	background-size: cover;
	background-image: url("../img/resetbtn.png");
	border: 4px solid #000000;
    order: 2;
}

#calculating
{
	/*margin-top: 10px;
	/*display: none;*/
	font-size: 20px;*/
    order: 1;
}

#error
{
	color: red;
	font-size: 20px;
    order: 3;
}

#legend
{
	display: none;
	text-align: left;
    order: 4;
}

.legendline
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	width: 92%;
	height: 22px;
}

#orangeblock
{
	float: left;
	width: 22px;
	height: 22px;
	border: 2px solid #000000;
	background-color: rgba(255, 200, 0, 1.0);
	margin-right: 5px;
}

#blueblock
{
	float: left;
	width: 22px;
	height: 22px;
	border: 2px solid #000000;
	background-color: rgba(60, 100, 200, 1.0);
	margin-right: 5px;
}

.legendtext
{
	padding-top: 6px;
	height: 20px;
}

#clockWrapper
{
    order: 5;
}

#gameclock
{
	margin-top: 0.1em;
	font-size: 6.0vh;
}

#lowerclock
{
	/*font-size: 1.2vh;*/
}

#car
{
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}

#healthbarcontainer
{
    order: 6;
}

#healthbar
{
	margin-top: 1em;
	width: 90%;
	height: 3.64%;
    order: 7;
}

#healthtext
{
	margin-top: 1em;
	font-size: 1.2vh
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #000;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/*progress[value]::-webkit-progress-value {
	background-color: #FFF;
}*/

progress[value].lowhp::-webkit-progress-value {
	background-color: #FE0000;
}

progress[value].lowishhp::-webkit-progress-value  {
	background-color: #d94545;
}

progress[value].medhp::-webkit-progress-value  {
	background-color: #de756f;
}

progress[value].highhp::-webkit-progress-value  {
	background-color: #e9a3a3;
}

progress[value].veryhighhp::-webkit-progress-value  {
	background-color: #FFFFFF;
}

#circlecontainer
{
	/*margin-top: 10%;*/
    order: 8;
    display: flex;
    flex-direction: column;
}

.activecircle
{
	position: relative;
	/*margin-top: 10px;*/
	width: 90%;
	height: 8.5%;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-image: url("../img/circle.png");
	border: 2px solid rgba(255, 200, 0, 1.0);

	font-size: 3.3vh;
    font-weight: bold;
}

.circle
{
	position: relative;
	/*margin-top: 10px;*/
	width: 90%;
	height: 8.5%;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-image: url("../img/circle_grey.png");
	font-size: 2.8vh;
}

.dps
{
	position: absolute;
	top: 5%;
	left: 5%;
	font-size: 155%;
	font-weight: bold;
	text-align: center;
	width: 20%;
}

.circle .dps
{
	color: #CCC;
}

.dpsfooter
{
	position: absolute;
	top: 70%;
	left: 5%;
	font-size: 45%;
	width: 20%;
	text-align: center;
}

.closetime
{
	position: absolute;
	top: 17%;
	right: 5%;
	font-size: 40%;
	text-align: right;
	width: 50%;
}

.danger
{

}

.yield
{

}

#reset:active
{
	border: 4px solid #FFFFFF;
}

/*
fuck 3 aligns
#rightBar
{
	height: 100%;
	background-color: black;
}
*/


@media (max-width: 1200px) {
  #container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  #container #leftBar {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;

    height: initial;
    width: 100%;
    flex-direction: row;

  }

  #container #canvasContainer {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;

    width: 100%;
    margin-left: 0px;

  }

  #leftBar > div
  {
      flex-basis: 20%;
      margin: 1em;
  }

  #circlecontainer
  {
      flex-direction: row;
      flex-basis: 100% ! important;
  }

  #footer
  {

      flex-basis: 100% ! important;
  }

}
#footer
{
    order: 10;
	text-align: center;
	bottom: 0%;
	/*width: 100%;*/
	font-size: 1.5vh;
}
